<!DOCTYPE html>
<html>
<head>
  <title>Transactions Graph</title>
  <script src='components/d3/d3.min.js'></script>
  <script src='components/c3/c3.min.js'></script>
</head>
<body>
  <%- body %>
</body>
</html>
